<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adarsh.collegeapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Student.ViewJobsStudent"></activity>
        <activity android:name=".Alumni.ViewJobs" />
        <activity android:name=".Alumni.PostJobs" />
        <activity android:name=".Alumni.AlumniHome" />
        <activity android:name=".Parent.StudentAttendenceByParent" />
        <activity android:name=".Alumni.AddAlumni" />
        <activity android:name=".Student.StudentAttendence" />
        <activity android:name=".Staff.AddAttendenceActivity" />
        <activity android:name=".Staff.AddQuestions" />
        <activity android:name=".Staff.AddNotes" />
        <activity android:name=".Student.StudentQuestions" />
        <activity android:name=".Student.StudentNotes" />
        <activity android:name=".Student.StudentEvents" />
        <activity android:name=".Student.StudentSyllabus" />
        <activity android:name=".Student.StudentHome" />
        <activity android:name=".Alumni.AlumniSignup" />
        <activity android:name=".Alumni.AlumniLogin" />
        <activity android:name=".College.ui.EventUpdateActivity" />
        <activity android:name=".College.StudentProfileCollege" />
        <activity android:name=".Staff.AddSyllabusStaffActivity" />
        <activity android:name=".Staff.ViewStudentsStaff" />
        <activity android:name=".College.StudentProfile" />
        <activity android:name=".Parent.ParentEvent" />
        <activity android:name=".Parent.ParentHome" />
        <activity android:name=".Parent.ParentSignUp" />
        <activity android:name=".Staff.AddStudentActivity" />
        <activity android:name=".College.ViewStudents" />
        <activity android:name=".College.SemesterActivity" />
        <activity android:name=".College.AddEvents" />
        <activity android:name=".College.ui.AddDepartment" />
        <activity android:name=".Staff.StaffHome" />
        <activity android:name=".College.StaffProfile" />
        <activity android:name=".College.CollegeSignup" />
        <activity
            android:name=".College.AddStaffActivity"
            android:theme="@style/Theme.Shrine" />
        <activity
            android:name=".College.CollegeHome"
            android:label="@string/title_activity_college_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Parent_Login" />
        <activity android:name=".College.College_Login" />
        <activity android:name=".Staff_Login" />
        <activity android:name=".Student.Student_Login" />
        <activity android:name=".Profile_Selection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>